@using NewsDaily.Web.Models
@using NewsDaily.Web.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileNewsService NewsService

<div class="card-columns">
@foreach (var news in NewsService.GetNews())

    {
                    <div class="card">
                     <h5 class="card-title">@news.Headline</h5>
                     <div class="card-body">@news.Article</div>
                    </div>
    }
</div>


}
